<script>
  function draw_medias () {
    <% @media_instagrams.each do |mi| %>
    var media<%= mi.id %> = new Image();
    media<%= mi.id %>.src = "<%= mi.url %>";
    media<%= mi.id %>.onload = function() {
      try {
        var canvas = $('canvas[data-mid="<%= mi.id %>"]')[0];
        var content = canvas.getContext("2d");
        content.drawImage(media<%= mi.id %>, 0, 0);
        <% mi.detect_results.each.with_index(1) do |dr, i| %>
        var color = "#<%= [255 * (100 - dr.gender) / 100, 0, 255 * dr.gender / 100].map{ |x| "%02X" % x }.join %>";
        content.strokeStyle = color;
        content.strokeRect(<%= dr.left_top.join(',') %>, <%= dr.real_width %>, <%= dr.real_height %>);
        content.fillStyle = "#FFFFFF";
        content.fillText('<%= i %>', <%= dr.left_top.join(',') %>);
        <% end %>
      } catch(e) {
        console.log(e);
      }
    };
    <% end %>
  }

  $(document).ready(function() {
    draw_medias();
  });
</script>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Media</th>
    </tr>
  </thead>

  <tbody>
    <% @media_instagrams.each do |media_instagram| %>
      <tr>
        <td><%= raw media_instagram.to_json(only: [:id, :url, :tags, :lat, :lng], include: {detect_results: {only: [], methods: [:age, :gender]}}).split(/(?<=[{,])|(?=})/).join('<br>') %></td>
        <td>
          <canvas data-mid="<%= media_instagram.id %>" width=<%= media_instagram.width %> height=<%= media_instagram.height %>></canvas>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @media_instagrams %>
